<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Popular Track Lister</title>
</head>
<body>
<h1 class="text-lg-center mt-1">Track Lister Usage Description</h1>
<p class="text-lg-center mt-1">This application is used to list popular 10 tracks from genre you choose. Artists are selected randomly. </p>
<div class="container-fluid">
    {% if  msg_fail %}
        <div class="alert alert-danger">
            {{ msg_fail | safe }}
        </div>
    {% endif %}
    <div class="row justify-content-center">
            <a href="{% url 'home' %}"><button class="btn btn-secondary mb-3" >Home</button></a>

        <div class="col-auto col-md-12 d-flex justify-content-center">
            <table class="table table-bordered">
                <thead>

                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Artist Name</th>
                    <th scope="col">Track Name</th>
                    <th scope="col">Popularity</th>
                    <th scope="col">Preview</th>
                </tr>
                </thead>
                <tbody>

                {% for item in track_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ random_artist }}</td>
                        <td>{{ item.0 }}</td>
                        <td>{{ item.1 }}</td>
                        <td>
                            {% if item.0 %}
                                <button id="btn{{ forloop.counter }}" type="button" class="btn btn-primary play">Play
                                </button>
                                <audio id="sound{{ forloop.counter }}" src="{{ item.2 }}"></audio>
                            {% else %}
                                <div class="play">No preview</div>
                            {% endif %}


                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $('.play').click(function () {
        var $this = $(this);
        var id = $this.attr('id').replace(/btn/, '');
        $this.toggleClass('active');
        if ($this.hasClass('active')) {
            $this.text('Pause');
            $('audio[id^="sound"]')[id - 1].play();
        } else {
            $this.text('Play');
            $('audio[id^="sound"]')[id - 1].pause();
        }
    });
</script>

</body>
</html>